*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    height: 100vh;
    width: 100vw;
}

.first{
    background-color: #FF0000;
}

.second{
    background-color:#008000 ;
}

.third{
    background-color: #FFFF00;
}